# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Entorno virtual
.venv/
venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env

# Docker
.dockerignore

# Tests / coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Backups
backups/
*.tar.gz
*.dump

# Secretos
*.pem
*.key
secrets.json
